<%- include('partials/header.ejs') %>
<div class="form-container">
    <div class="form-title">Create a post...</div>
    <form action="/submit" class="form" method="post">
            <div class="input-box">
                <span class="details">Title*</span>
                <% if (locals.title && locals.content) { %>
                    <input name="title" type="text" value="<%=title%>"  required/>
                <% } else { %>
                    <input name="title" type="text" placeholder="What tea are we drinking today?" required/>
                <% } %>
            </div>
            <div class="input-box">
                <span class="details">Content*</span>
                <% if (locals.title && locals.content) { %>
                    <textarea name="content" rows="20" required> <%=content%> </textarea>
                <% } else { %>
                    <textarea name="content" rows="20" placeholder="Spill the tea..." required></textarea>
                <% } %>   
            </div>
            <% if (locals.title && locals.content && !locals.index) { %>
                <input type="hidden" name="index" value="0">
            <% } else if (locals.index) { %>
                <input type="hidden" name="index" value="<%=index%>">
            <% } else { %>
                <input type="hidden" name="index" value="100">
            <% } %>
            <div class="submit-btn">
                <button type="submit" class="btn">Submit</button>
            </div>
    </form>
</div>

<%- include('partials/footer.ejs') %>